<p><a href="/login" class="text-info w3-large w3-animate-bottom w3-text-grey">ENTER</a></p>
<% if flash[:danger] %>
  <p><%= flash[:danger] %></p>
<% end %>
<% if flash[:success] %>
  <p> <%= flash[:success] %>
<% end %>
