<p id="notice"><%= notice %></p>
<h1>All Resorts</h1>

<table class="resort-table">
    <thead style="display:block;"
    <tr>
    <th>Resorts</th>
    </tr>
    </thead>

    <tbody>
    <% @resorts.each do |resort| %>
    <tr>
    <td><%= link_to resort.resort_name, resort_path(resort.id) %>
    </tr>
    <% end %>
    </tbody>
</table>
