<p id="notice"><%= notice %></p>
<table>
    <thead>
    <tr>
    <th>Resorts</th>
    </tr>
    </thead>

    <tbody>
    <% @resorts.each do |resort| %>
    <tr>
    <td><%= link_to resort.resort_name, resort_path(resort.id) %>
    <td><%= resort.location %></td>
    </tr>
    <% end %>
    </tbody>
</table>
