<!DOCTYPE html>
<html>
<title>PROJECT SNOW</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani">
<style>
body,h1 {font-family: "Rajdhani", sans-serif}
body, html {height: 100%}
.bgimg {
  background-color: black;
  min-height: 100%;
  background-position: center;
  background-size: auto;
}
.topnav {
  background-color: black;
  overflow: scroll;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
 
</style>
<body>
<div class="topnav w3-animate-opacity">
  <a href="/meetups">MEETUPS</a>
  <a href="/resorts">RESORT INFO</a>
  <a href="/reviews">REVIEWS</a>
   <% if current_user %>
    <a href="/logout">LOGOUT</a>
    <%= link_to "PROFILE", user_path(current_user) %>
  <% else %>
    <%= link_to "LOGIN", login_path %>
    <%= link_to "REGISTER", new_user_path %>
  <% end %>
</div>


<div class="bgimg w3-display-container w3-animate-opacity w3-text-white" align='center'>
  <%# <div class="w3-display-middle" style:="height:100vh;"> %>
    <hr class="w3-border-cyan w3-animate-left" style="margin:auto;width:40%">

    <h1 class="w3-jumbo w3-animate-left">PROJECT SNOW</h1>
    <hr class="w3-border-cyan w3-animate-right" style="margin:auto;width:80%">
    <%= yield %>
  <%# </div> %>
</div>

</body>



</html>
